<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYCAR</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="../../index.html">MyCar</a>
        </div>
        <ul class="nav-links">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="ofertas.html">Nuestras Ofertas</a></li>
            <li><a href="primer.html">Tu Primer 0KM</a></li>
            <li><a href="cambiar.html">Cambiá tu Auto</a></li>
            <li><a href="ingresar.html">Ingresá a tu Cuenta</a></li>
        </ul>
    </nav>
    <main>
        <section class="InicioCambiar">
            <h2>Cambiá tu auto en 24hs</h2>
            <div>
                <fieldset>
                    <label for="Categoria">Categoría</label>
                    <input type="text"name="Categoria">
                    <br><br>
                    <label for="Marca">Marca</label>
                    <input type="text"name="Marca">
                    <br><br>
                    <label for="Modelo">Modelo</label>
                    <input type="text"name="Modelo">
                    <br><br>
                    <label for="Año">Año</label>
                    <input type="text"name="Año">
                    <br><br>
                    <label for="Color">Color</label>
                    <input type="text"name="Color">
                    <br><br>
                    <label for="Kilometraje">Kilometraje</label>
                    <input type="text"name="Kilometraje">
                    <br><br>
                    <input type="submit"value="Buscar">
                </fieldset>
            </div>
        </section>
    </main>
    <footer>
        <a href="" class="Footer">Términos y Condiciones</a>
    </footer>
</body>

</html>