<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYCAR</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../../css/destino.css">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="../../index.html">MyCar</a>
        </div>
        <ul class="nav-links">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="ofertas.html">Nuestras Ofertas</a></li>
            <li><a href="primer.html">Tu Primer 0KM</a></li>
            <li><a href="cambiar.html">Cambiá tu Auto</a></li>
            <li><a href="ingresar.html">Ingresá a tu Cuenta</a></li>
        </ul>
    </nav>
    <main>
        <section class="Inicio">
            <h2>Ingresá a tu Cuenta</h2>
            <div>
                <form action="">
                    <fieldset>
                        <label for="Nombre y Apellido">Nombre y Apellido</label>
                        <input type="text"name="Nombre y Apellido">
                        <br><br>
                        <label for="Mail">Correo Electrónico</label>
                        <input type="email"name="Mail">
                        <br><br>
                        <label for="Password">Contraseña</label>
                        <input type="password"name="Password">
                        <br><br>
                        <Select>
                            <option value="Concesionaria">Concesionaria</option>
                            <option value="Particular">Particular</option>
                        </Select>
                        <br><br>
                        <span>Acepta Términos y Condiciones</span>
                        <input type="checkbox"name="Acepta"value="1">
                        <br><br>
                        <input type="reset"value="Reiniciar">
                        <input type="submit"value="Iniciar Sesión">
                    </fieldset>
                </form>
            </div>
        </section>
    </main>
    <br>
    <footer>
        <a href="" class="Footer">Términos y Condiciones</a>
    </footer>
</body>

</html>