<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYCAR</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../../css/destino.css">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="../../index.html">MyCar</a>
        </div>
        <ul class="nav-links">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="ofertas.html">Nuestras Ofertas</a></li>
            <li><a href="primer.html">Tu Primer 0KM</a></li>
            <li><a href="cambiar.html">Cambiá tu Auto</a></li>
            <li><a href="ingresar.html">Ingresá a tu Cuenta</a></li>
        </ul>
    </nav>
    <main>
        <section class="Inicio">
            <h2>Descubrí los mejores precios en MYCAR</h2>
        </section>
        <h4>Nuestras Ofertas</h4>
        <section class="SeccionOfertas">
            <div>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Uno.jpg" alt="Imagen de Fiat Uno" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Fiat</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Uno</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2016</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Fiesta.jpg" alt="Imagen de Ford Fiesta" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Ford</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Fiesta</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2016</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Cruze.jpg" alt="Imagen de Chevrolet Cruze" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Chevrolet</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Cruze</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2019</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Duster.jpg" alt="Imagen de Renault Duster" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Renault</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Duster</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2019</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Ecosport.png" alt="Imagen de Ford Ecosport" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Ford</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Ecosport</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2018</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <a href="" class="Footer">Términos y Condiciones</a>
    </footer>
</body>

</html>