<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYCAR</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../../css/destino.css">
</head>

<body>
    <nav>
        <div class="logo">
            <a href="../../index.html">MyCar</a>
        </div>
        <ul class="nav-links">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="ofertas.html">Nuestras Ofertas</a></li>
            <li><a href="primer.html">Tu Primer 0KM</a></li>
            <li><a href="cambiar.html">Cambiá tu Auto</a></li>
            <li><a href="ingresar.html">Ingresá a tu Cuenta</a></li>
        </ul>
    </nav>
    <main>
        <section class="Inicio">
            <h2>Encontrá tu Primer 0KM en MYCAR</h2>
        </section>
        <h4>Tu Primer 0KM</h4>
        <section class="SeccionPrimer">
            <div>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Up.jpg" alt="Imagen de Volkswagen Up" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Volkswagen</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Up</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2022</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Argo.png" alt="Imagen de Fiat Argo" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Fiat</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Argo</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2022</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Peugeot208.jpeg" alt="Imagen de Peugeot 208" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Peugeot</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: 208</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2022</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Vento.jpeg" alt="Imagen de Volkswagen Vento" class="Autos">
                    <table border="1" cellpadding="5px"  class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Volkswagen</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Vento</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2022</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Peugeot3008.png" alt="Imagen de Peugeot 3008" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Peugeot</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: 3008</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2022</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Ranger.png" alt="Imagen de Ford Ranger" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Ford</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Ranger</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2022</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
                <article class="OfertasOrg">
                    <img src="../images/Autos/Amarok.png" alt="Imagen de Volkswagen Amarok" class="Autos">
                    <table border="1" cellpadding="5px" style="border-collapse:separate" class="OfertasTabla">
                        <tr>
                            <th>Información</th>
                            <th>Características</th>
                            <th>Métodos de Pago</th>
                        </tr>
                        <tr>
                            <td>Marca: Volkswagen</td>
                            <td>Característica 1</td>
                            <td>Método 1</td>
                        </tr>
                        <tr>
                            <td>Modelo: Amarok</td>
                            <td>Característica 2</td>
                            <td>Método 2</td>
                        </tr>
                        <tr>
                            <td>Año: 2022</td>
                            <td>Característica 3</td>
                            <td>Método 3</td>
                        </tr>
                    </table>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <a href="" class="Footer">Términos y Condiciones</a>
    </footer>
</body>

</html>