* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 550px) {
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vh 4vw;
    }
    #nav1 {
        display: none;
    }
    #nav-links {
        display: none;
    }
    /* MAIN */
    .titulos {
        font-size: 1.7em;
        color: white;
    }
    p {
        font-size: 1em;
    }
    /* PORTADA */
    #portada {
        height: 40vh;
        padding-left: 4vw; 
        background: url(../images/Inicio/separador2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #portada h2 {
        width: 75vw;
        top: 3vh;
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    #portada-boton-1 {
        display: none;
    }
    #portada-boton-2 {
        padding: 1vh;
        top: 15vh;
        font-size: .8em;
    }
    /* CAMBIAR */
    #cambiar {
        height: 55vh;
        margin: 0px 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    #cambiar-title {
        font-size: 1.7em;
        letter-spacing: 1px;
    }
    #cambiar-boton-1 {
        display: none;
    }
    #cambiar-boton-2 {
        padding: .5vh 1.5vw;
        font-size: 1em;
        border: 1.7px solid rgb(0, 0, 25);
    }
    #cambiar-flex {
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #cambiar-flex-carac {
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .caracteristicas i {
        padding-right: 4vw;
    }
    /* PASOS */
    #pasos {
        height: 60vh;
        margin: 0px 10vw;
        flex-direction: column;
    }
    #pasos div {
        width: 100%;
        height: 20%;
    }
    #pasos i {
        font-size: 2.5em;
    }
    #pasos a {
        font-size: 1em;
        font-weight: 100;
    }
    .pasos-text {
        display: none;
    }
    /* PRIMER 0KM */
    #primer1 {
        display: none;
    }
    #primer2 {
        height: 40vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Inicio/Primer\ 0km.jpg);
        color: white;
    }
    /* OFERTAS */
    #ofertas1 {
        display: none;
    }
    #ofertas2 {
        height: 45vh;
        margin: 5vh 10vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Inicio/Cotizar.jpg);
    }
    /* CONTACTO */
    #contacto {
        height: 65vh;
        margin: 0px 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #contacto-title {
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    form {
        width: 100%;
    }
    input {
        width: 100%;
        margin: 3vh 0vw;
        padding: 1vh;
        font-size: 1em;
    }
    #submit {
        width: 100%;
        border-radius: 0%;
    }
    /* FOOTER */
    footer {
        margin-bottom: 3vh;
        text-align: center;
    }
    h5 {
        font-size: 1.5em;
    }
}














@media (min-width: 551px) and (max-width: 1214px) {
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vh 4vw;
    }
    #nav1 {
        display: none;
    }
    #nav-links {
        display: none;
    }
    /* MAIN */
    .titulos {
        font-size: 2.5em;
        color: white;
    }
    p {
        font-size: 1.5em;
    }
    /* PORTADA */
    #portada {
        height: 60vh;
        padding-left: 6vw; 
        background: url(../images/Inicio/separador2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #portada h2 {
        width: 65vw;
        top: 6vh;
        font-size: 2em;
        letter-spacing: 1px;
    }
    #portada-boton-1 {
        display: none;
    }
    #portada-boton-2 {
        padding: 1.5vh;
        top: 20vh;
    }
    /* CAMBIAR */
    #cambiar {
        height: 65vh;
        margin: 0px 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    #cambiar-title {
        font-size: 2.5em;
        letter-spacing: 1px;
    }
    #cambiar-boton-1 {
        display: none;
    }
    #cambiar-boton-2 {
        padding: .5vh 1.5vw;
        font-size: 1.5em;
        border: 1.7px solid rgb(0, 0, 25);
    }
    #cambiar-flex {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #cambiar-flex-carac {
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .caracteristicas i {
        padding-right: 4vw;
    }
    /* PASOS */
    #pasos {
        height: 70vh;
        margin: 0px 10vw;
        flex-direction: column;
    }
    #pasos div {
        width: 100%;
        height: 20%;
    }
    #pasos i {
        font-size: 2.5em;
    }
    #pasos a {
        font-size: 1.7em;
        font-weight: 100;
    }
    .pasos-text {
        display: none;
    }
    /* PRIMER 0KM */
    #primer1 {
        display: none;
    }
    #primer2 {
        height: 60vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Inicio/Primer\ 0km.jpg);
    }
    /* OFERTAS */
    #ofertas1 {
        display: none;
    }
    #ofertas2 {
        height: 65vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Inicio/Cotizar.jpg);
    }
    /* CONTACTO */
    #contacto {
        height: 75vh;
        margin: 0px 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #contacto-title {
        font-size: 2.5em;
        letter-spacing: 1px;
    }
    form {
        width: 100%;
    }
    input {
        width: 100%;
        margin: 3vh 0vw;
        padding: 1.7vh;
        font-size: 1.3em;
    }
    #submit {
        width: 100%;
        border-radius: 0%;
    }
    /* FOOTER */
    footer {
        margin-bottom: 4vh;
        text-align: center;
    }
    h5 {
        font-size: 2.5em;
    }
    h1 {
        font-size: 2.5em;
    }
}














@media (min-width: 1215px) {
    body {
        background: url(../images/Inicio/separador2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 3vh 5vw;
    }
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    header a {
        color: white;
    }
    #nav2 {
        display: none;
    }
    #nav-links {
        width: 45vw;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    #nav-links a::after {
        content: "";
        width: 0;
        height: 0.5px;
        background: white;
        margin: auto;
        display: block;
    }
    #nav-links a:hover::after {
        width: 100%;
        transition: width 0.5s linear;
    }
    /* MAIN */
    .titulos {
        font-size: 3em;
        text-transform: uppercase;
    }
    .titulos::after {
        content: "";
        width: 0;
        height: 2px;
        background: rgb(0, 0, 25);
        margin: auto;
        display: block;
    }
    .titulos:hover::after {
        width: 100%;
        transition: width 0.5s linear;
    }
    p {
        font-size: 1.5em;
    }
    /* PORTADA */
    #portada {
        height: 100vh;
    }
    #portada h2 {
        width: 40vw;
        top: 10vh;
        font-size: 2.5em;
        letter-spacing: 2px;
    }
    #portada-boton-1 {
        padding: 1.5vh;
        top: 35vh;
    }
    #portada-boton-2 {
        display: none;
    }
    /* CAMBIAR */
    #cambiar {
        margin: 0px 5vw;
        height: 90vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #cambiar-title {
        position: absolute;
        top: 22.5%;
        font-size: 3em;
        letter-spacing: 1.5px;
    }
    #cambiar-flex {
        display: flex;
        justify-content: space-between;
    }
    #cambiar-text {
        position: absolute;
        top: 40%;
    }
    #cambiar-boton-1 {
        position: absolute;
        top: 55%;
        padding: 1vh 1vw;
        font-size: 1.3em;
        border: 2px solid rgb(0, 0, 25);
    }
    #cambiar-boton-2 {
        display: none;
    }
    #cambiar-flex-carac {
        margin-top: 12vh;
    }
    .caracteristicas {
        margin-bottom: 5vh;
    }
    .caracteristicas i {
        padding-right: 2vw;
    }
    /* PASOS */
    #pasos {
        height: 100vh;
    }
    #pasos div {
        width: 25%;
        height: 60%;
        flex-direction: column;
        position: relative;
        border: 5px solid rgb(0, 0, 25);
    }
    #pasos i {
        position: absolute;
        top: 15%;
        font-size: 3em;
    }
    #pasos a {
        position: absolute;
        top: 35%;
        font-size: 2.3em;
    }
    .pasos-title::after {
        content: "";
        width: 0;
        height: 2px;
        background: rgb(0, 0, 25);
        margin: auto;
        display: block;
    }
    .pasos-title:hover::after {
        width: 100%;
        transition: width 0.5s linear;
    }
    .pasos-text {
        position: absolute;
        top: 60%;
        padding: 0vh 2vw;
        font-size: 1.4em;
    }
    /* PRIMER 0KM */
    #primer1 {
        height: 100vh;
        margin: 0px 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #primer1 img {
        width: 40%;
    }
    #primer1 div {
        text-align: center;
    }
    #primer2 {
        display: none;
    }
    /* OFERTAS */
    #ofertas1 {
        height: 100vh;
        margin: 0px 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #ofertas1 img {
        width: 40%;
    }
    #ofertas1 div {
        text-align: center;
    }
    #ofertas2 {
        display: none;
    }
    /* CONTACTO */
    #contacto {
        height: 90vh;
        margin: 0px 5vw;
        position: relative;
    }
    #contacto-title {
        position: absolute;
        top: 5%;
        font-size: 3em;
        letter-spacing: 1.5px;
    }
    form {
        position: absolute;
        top: 22.5%;
        width: 100%;
    }
    input {
        width: 100%;
        margin: 3vh 0vw;
        padding: 1.5vh;
        font-size: 1.1em;
    }
    /* FOOTER */
    footer {
        text-align: center;
    }
    h5 {
        font-size: 2.2em;
        font-weight: 100;
        letter-spacing: 5px;
    }
}