* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cambiar {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#cambiar-flex {
    display: flex;
    justify-content: space-between;
}

#pasos {
    justify-content: space-between;
}

#pasos div {
    width: 30%;
    flex-direction: column;
}

#contacto {
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
}

input {
    width: 100%;
    margin: 30px 0vw;
    padding: 10px;
}

footer {
    text-align: center;
}











@media screen and (max-width: 1100px){
    /* HEADER */
    header {
        padding: 10px 40px;
    }
    h1 {
        font-size: 1.5em;
    }
    #nav1 {
        display: none;
    }
    /* PORTADA */
    #portada {
        height: 500px;
        padding-left: 40px; 
        background: url(../images/Inicio/separador2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #portada h2 {
        width: 275px;
        top: 70px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    #portada-boton-1 {
        padding: 8.5px 15px;
        font-size: 12px;
        top: 175px;
    }
    /* TITULOS */
    .titulos {
        font-size: 1.3em;
        color: white;
    }
    p {
        font-size: .8em;
    }
    /* PRIMER 0KM */
    #primer1 {
        display: none;
    }
    #primer2 {
        width: 300px;
        height: 250px;
        margin: 100px auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Inicio/Primer\ 0km.jpg);
    }
    /* OFERTAS */
    #ofertas1 {
        display: none;
    }
    #ofertas2 {
        width: 300px;
        height: 250px;
        margin: 100px auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Inicio/Cotizar.jpg);
    }
    /* CAMBIAR */
    #cambiar {
        height: 450px;
        margin: 125px auto;
        justify-content: space-around;
        text-align: center;
    }
    #cambiar-flex {
        height: 325px;
        flex-direction: column;
        align-items: center;
    }
    #cambiar-title {
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    #cambiar-boton-1 {
        display: none;
    }
    #cambiar-boton-2 {
        padding: 10px 30px;
        font-size: 1em;
        border: 2px solid rgb(0, 0, 25);
    }
    #cambiar-flex-carac {
        height: 175px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .caracteristicas i {
        padding-right: 40px;
        font-size: 1.3em;
    }
    /* PASOS */
    #pasos {
        height: 300px;
        margin: 75px;
        flex-direction: column;
    }
    #pasos div {
        width: 100%;
        height: 20%;
        flex-direction: row;
    }
    #pasos i {
        font-size: 2em;
    }
    #pasos a {
        font-size: 1.3em;
        font-weight: 100;
    }
    .pasos-text {
        display: none;
    }
    /* CONTACTO */
    #contacto {
        height: 550px;
        margin: 150px 75px 75px;
        justify-content: space-between;
        align-items: center;
    }
    #contacto-title {
        font-size: 2.5em;
        letter-spacing: 1px;
    }
    input {
        font-size: 1em;
    }
    #submit {
        width: 100%;
    }
    /* FOOTER */
    footer {
        margin-bottom: 50px;
    }
    h5 {
        font-size: 2em;
    }
}


@media screen and (min-width: 550px) and (max-width: 1100px){
    /* PORTADA */
    #portada h2 {
        width: 350px;
        font-size: 25px;
    }
    #portada-boton-1 {
        padding: 10px 20px;
        font-size: 14px;
    }
    /* TITULOS */
    .titulos {
        font-size: 2.3em;
    }
    p {
        font-size: 1.2em;
    }
    /* PRIMER 0KM */
    #primer2 {
        width: 500px;
        height: 400px;
    }
    /* OFERTAS */
    #ofertas2 {
        width: 500px;
        height: 400px;
    }
    /* CAMBIAR */
    #cambiar {
        height: 475px;
        margin: 175px auto;
        justify-content: space-between;
    }
    #cambiar-flex {
        height: 375px;
    }
    #cambiar-title {
        font-size: 2.5em;
    }
    #cambiar-boton-2 {
        font-size: 1.2em;
    }
    .caracteristicas i {
        font-size: 1.5em;
    }
    /* PASOS */
    #pasos {
        height: 500px;
        margin: 100px;
    }
    #pasos i {
        font-size: 2.5em;
    }
    #pasos a {
        font-size: 1.7em;
    }
    /* CONTACTO */
    #contacto {
        margin: 150px 100px 75px;
    }
    input {
        font-size: 1.3em;
    }
    /* FOOTER */
    h5 {
        font-size: 2.5em;
    }
}


@media screen and (min-width: 768px) and (max-width: 1100px) {
    /* PORTADA */
    #portada {
        height: 600px;
    }
    #portada h2 {
        width: 450px;
        top: 80px;
        font-size: 30px;
    }
    #portada-boton-1 {
        font-size: 16px;
        top: 225px;
    }
    /* TITULOS */
    h1 {
        font-size: 2em;
    }
    .titulos {
        font-size: 3em;
    }
    p {
        font-size: 1.5em;
    }
    /* PRIMER 0KM */
    #primer2 {
        width: 600px;
        height: 500px;
    }
    /* OFERTAS */
    #ofertas2 {
        width: 600px;
        height: 500px;
    }
    /* CAMBIAR */
    #cambiar-flex {
        height: 400px;
    }
    #cambiar-boton-2 {
        font-size: 1.3em;
    }
    /* PASOS */
    #pasos {
        height: 200px;
        margin: 100px;
        flex-direction: row;
    }
    #pasos div {
        width: 30%;
        height: 100%;
        flex-direction: column;
    }
    /* CONTACTO */
    #contacto {
        margin: 150px 100px 50px;
    }
}










@media screen and (min-width: 1101px) {
    body {
        background: url(../images/Inicio/separador2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* HEADER */
    header {
        width: 1024px;
        padding: 30px 0px;
        margin: 0 auto;
        font-size: 16px;
        max-width: 1024px;
    }
    header a {
        color: white;
    }
    #nav2 {
        display: none;
    }
    #nav-links {
        width: 650px;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    #nav-links a::after {
        content: "";
        width: 0;
        height: 0.5px;
        background: white;
        margin: auto;
        display: block;
    }
    #nav-links a:hover::after {
        width: 100%;
        transition: width 0.5s linear;
    }
    /* MAIN */
    main {
        margin: 0 auto;
        max-width: 1024px;
    }
    /* PORTADA */
    #portada {
        height: 550px;
    }
    #portada h2 {
        width: 500px;
        top: 75px;
        font-size: 35px;
        letter-spacing: 2.5px;
    }
    #portada-boton-1 {
        padding: 15px 25px;
        top: 250px;
    }
    /* TITULOS */
    .titulos {
        font-size: 50px;
        text-transform: uppercase;
    }
    .titulos::after {
        content: "";
        width: 0;
        height: 2px;
        background: rgb(0, 0, 25);
        margin: auto;
        display: block;
    }
    .titulos:hover::after {
        width: 100%;
        transition: width 0.5s linear;
    }
    p {
        font-size: 1.4em;
    }
    /* PRIMER 0KM */
    #primer1 {
        height: 700px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #primer1 img {
        width: 40%;
    }
    #primer1 div {
        text-align: center;
    }
    #primer2 {
        display: none;
    }
    /* OFERTAS */
    #ofertas1 {
        height: 700px;
        width: 100%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #ofertas1 img {
        width: 40%;
    }
    #ofertas1 div {
        text-align: center;
    }
    #ofertas2 {
        display: none;
    }
    /* CAMBIAR */
    #cambiar {
        margin: 100px auto;
        justify-content: center;
        position: relative;
    }
    #cambiar-title {
        position: absolute;
        top: 7.5%;
        font-size: 3em;
        letter-spacing: 1.5px;
    }
    #cambiar-text {
        position: absolute;
        top: 35%;
        font-size: 1.4em;
    }
    #cambiar-boton-1 {
        position: absolute;
        top: 63.5%;
        padding: 10px 30px;
        font-size: 1.4em;
        border: 2px solid rgb(0, 0, 25);
    }
    #cambiar-boton-2 {
        display: none;
    }
    #cambiar-flex-carac {
        margin-top: 105px;
    }
    .caracteristicas {
        margin-bottom: 50px;
    }
    .caracteristicas i {
        padding-right: 30px;
    }
    /* PASOS */
    #pasos {
        height: 500px;
        width: 100%;
        margin: 50px auto;
    }
    #pasos div {
        height: 80%;
        position: relative;
        border: 5px solid rgb(0, 0, 25);
    }
    #pasos i {
        position: absolute;
        top: 15%;
        font-size: 3em;
    }
    #pasos a {
        position: absolute;
        top: 37.5%;
        font-size: 2em;
    }
    .pasos-title::after {
        content: "";
        width: 0;
        height: 2px;
        background: rgb(0, 0, 25);
        margin: auto;
        display: block;
    }
    .pasos-title:hover::after {
        width: 100%;
        transition: width 0.5s linear;
    }
    .pasos-text {
        position: absolute;
        top: 60%;
        padding: 0vh 20px;
        font-size: 1.3em;
    }
    /* CONTACTO */
    #contacto {
        height: 600px;
        width: 100%;
        margin: 75px auto 50px;
        justify-content: space-around;
    }
    #contacto-title {
        font-size: 3em;
        letter-spacing: 1.5px;
    }
    input {
        font-size: 1.1em;
    }
    /* FOOTER */
    footer {
        padding: 20px 0px 40px;
    }
    h5 {
        font-size: 2.2em;
        font-weight: 100;
        letter-spacing: 5px;
    }
}


@media screen and (min-width: 1501px) {
    /* PORTADA */
    #portada {
        height: 800px;
    }
    #portada h2 {
        width: 600px;
        font-size: 40px;
    }
}


@media screen and (min-width: 1800px) {
    /* HEADER */
    header {
        padding: 50px 0px;
        font-size: 18px;
    }
    /* PORTADA */
    #portada h2 {
        width: 700px;
        font-size: 50px;
    }
    #portada-boton-1 {
        padding: 20px 30px;
        top: 300px;
    }
    /* PRIMER 0KM */
    #primer1 {
        margin: 5vh auto 50px;
    }
}