* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 550px) {
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vh 4vw;
    }
    #nav1 {
        display: none;
    }
    #nav-links {
        display: none;
    }
    /* MAIN */
    .titulos {
        font-size: 1.7em;
    }
    p {
        font-size: 1em;
    }
    /* PORTADA */
    #portada {
        height: 40vh;
        padding-left: 4vw; 
        background: url(../images/Inicio/separador2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #portada h2 {
        width: 65vw;
        top: 3vh;
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    #portada a {
        display: none;
        padding: 1.5vh;
        top: 35vh;
    }
    /* PRIMER 0KM */
    #primer1 {
        display: none;
    }
    #primer2 {
        height: 60vh;
        margin: 0px 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #primer2 div {
        text-align: center;
    }
    #primer2 img {
        width: 75%;
    }
    /* OFERTAS */
    #ofertas {
        height: 65vh;
        margin: 0px 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #ofertas img {
        width: 75%;
    }
    /* CAMBIAR */
    #cambiar {
        height: 55vh;
        margin: 0px 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    #cambiar-title {
        font-size: 1.7em;
        letter-spacing: 1px;
    }
    #cambiar-boton-1 {
        display: none;
    }
    #cambiar-boton-2 {
        padding: .5vh 1.5vw;
        font-size: 1em;
        border: 1.7px solid rgb(0, 0, 25);
    }
    #cambiar-flex {
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #cambiar-flex-carac {
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .caracteristicas i {
        padding-right: 4vw;
    }
    /* PASOS */
    #pasos {
        height: 60vh;
        margin: 0px 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #pasos div {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid rgb(0, 0, 25);
    }
    #pasos i {
        font-size: 2.5em;
    }
    #pasos a {
        font-size: 1em;
        font-weight: 100;
    }
    .pasos-text {
        display: none;
    }
    /* CONTACTO */
    #contacto {
        height: 55vh;
        margin: 0px 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #contacto-title {
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    form {
        width: 100%;
    }
    input {
        width: 100%;
        margin: 3vh 0vw;
        padding: 1vh;
        font-size: 1em;
    }
    #submit {
        width: 100%;
        border-radius: 0%;
    }
    /* FOOTER */
    footer {
        margin-bottom: 3vh;
        text-align: center;
    }
    #footer1 {
        font-size: 1.5em;
    }
}



















@media (min-width: 1024px) {
    body {
        background: url(../images/Inicio/separador2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 3vh 5vw;
    }
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    header a {
        color: white;
    }
    #nav2 {
        display: none;
    }
    #nav-links {
        width: 45vw;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    /* MAIN */
    .titulos {
        font-size: 3em;
        text-transform: uppercase;
    }
    p {
        font-size: 1.5em;
    }
    /* PORTADA */
    #portada {
        height: 100vh;
    }
    #portada h2 {
        width: 40vw;
        top: 10vh;
        font-size: 2.5em;
        letter-spacing: 2px;
    }
    #portada a {
        padding: 1.5vh;
        top: 35vh;
    }
    /* PRIMER 0KM */
    #primer1 {
        height: 100vh;
        margin: 0px 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #primer1 img {
        width: 40%;
    }
    #primer1 div {
        text-align: center;
    }
    #primer2 {
        display: none;
    }
    /* OFERTAS */
    #ofertas {
        height: 100vh;
        margin: 0px 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #ofertas img {
        width: 40%;
    }
    /* CAMBIAR */
    #cambiar {
        margin: 0px 5vw;
        height: 90vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #cambiar-title {
        position: absolute;
        top: 22.5%;
        font-size: 3em;
        letter-spacing: 1.5px;
    }
    #cambiar-flex {
        display: flex;
        justify-content: space-between;
    }
    #cambiar-text {
        position: absolute;
        top: 40%;
    }
    #cambiar-boton-1 {
        position: absolute;
        top: 55%;
        padding: 1vh 1vw;
        font-size: 1.3em;
        border: 2px solid rgb(0, 0, 25);
    }
    #cambiar-boton-2 {
        display: none;
    }
    #cambiar-flex-carac {
        margin-top: 12vh;
    }
    .caracteristicas {
        margin-bottom: 5vh;
    }
    .caracteristicas i {
        padding-right: 2vw;
    }
    /* PASOS */
    #pasos {
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #pasos div {
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border: 5px solid rgb(0, 0, 25);
    }
    #pasos i {
        position: absolute;
        top: 15%;
        font-size: 3em;
    }
    #pasos a {
        position: absolute;
        top: 35%;
        font-size: 2.3em;
    }
    .pasos-text {
        position: absolute;
        top: 60%;
        padding: 0vh 2vw;
        font-size: 1.4em;
    }
    /* CONTACTO */
    #contacto {
        height: 80vh;
        margin: 0px 5vw;
        position: relative;
    }
    #contacto-title {
        position: absolute;
        top: 7.5%;
        font-size: 3em;
        letter-spacing: 1.5px;
    }
    form {
        position: absolute;
        top: 22.5%;
        width: 100%;
    }
    input {
        width: 100%;
        margin: 3vh 0vw;
        padding: 1.5vh;
        font-size: 1.1em;
    }
    /* FOOTER */
    footer {
        text-align: center;
    }
    #footer1 {
        font-size: 2.2em;
        font-weight: 100;
        letter-spacing: 5px;
    }
}