@font-face {
    font-family: "Titillium";
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}

body {
    font-family: "Titillium";
    color: rgb(0, 0, 25);
}


/* HEADER */

#nav-title {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
}


/* MAIN */

a {
    color: rgb(0, 0, 25);
    text-decoration: none;
}

.titulos {
    font-weight: bolder;
    letter-spacing: 1.5px;
}


/* PORTADA */

#portada {
    position: relative;
}

#portada h2 {
    color: white;
    position: absolute;
    font-weight: 100;
}

#portada a {
    position: absolute;
    color: white;
    border: 1px solid white;
}

#portada a:hover {
    color: rgb(0, 0, 25);
    background-color: white;
    transition: 1s;
}

/* SECTIONS IMG */

.section-img {
    margin: 5vh 10vw;
    background-size: cover;
    display: flex;
    color: white;
}

.section-img div {
    margin: auto;
    text-align: center;
}


/* CAMBIAR */

#cambiar-boton-1:hover {
    color: white;
    background-color: rgb(0, 0, 25);
    transition: 1s;
}

#cambiar-boton-2:hover {
    color: white;
    background-color: rgb(0, 0, 25);
    transition: 1s;
}

.caracteristicas {
    display: flex;
    align-items: center;
}

.caracteristicas i {
    font-size: 1.5em;
}


/* PASOS */

#pasos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#pasos div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(0, 0, 25);
}

.pasos-text {
    text-align: center;
}


/* CONTACTO */

input {
    font-family: "Titillium";
    border: 2px solid rgb(0, 0, 25);
}

input::placeholder {
    color: rgb(0, 0, 25);
}

input:focus {
    background-color: rgb(0, 0, 25);
    color: white;
    transition: 1s;
}

input:focus::placeholder {
    color: white;
    transition: 1s;
}

#submit {
    background-color: rgb(0, 0, 25);;
    color: white;
}

#submit:hover {
    background-color: white;
    color: rgb(0, 0, 25);
    transition: 1s;
}


/* FOOTER */

h5 {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
}