* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Titillium";
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}

body {
    font-family: "Titillium";
    background: url(../images/Inicio/separador2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}


/* HEADER */

header {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
}

h1 {
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#nav-links {
    width: 700px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#nav-links a::after {
    content: "";
    width: 0;
    height: 0.5px;
    background: white;
    margin: auto;
    display: block;
}

#nav-links a:hover::after {
    width: 100%;
    transition: width 0.5s linear;
}

a {
    color: rgb(0, 0, 25);
    text-decoration: none;
}

a h3::after {
    content: "";
    width: 0;
    height: 2px;
    background: rgb(0, 0, 25);
    margin: auto;
    display: block;
}

a h3:hover::after {
    width: 70%;
    transition: width 0.5s linear;
}


/* MAIN */

main {
    padding: 0px 80px;
}

/* PORTADA */

#portada {
    height: 100vh;
    position: relative;
}

#portada h2 {
    width: 40%;
    position: absolute;
    top: 10%;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}

#portada a {
    padding: 10px;
    position: absolute;
    top: 35%;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

#portada a:hover {
    color: rgb(0, 0, 25);
    background-color: white;
    transition: 2s;
}


/* PRIMER 0KM */

.titulos {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

p {
    font-size: 25px;
}

#primer {
    color: rgb(0, 0, 25);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#primer img {
    width: 40%;
}

#primer div {
    width: 50%;
    text-align: center;
}


/* OFERTAS */

#ofertas {
    color: rgb(0, 0, 25);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ofertas div {
    width: 50%;
    text-align: center;
}

#ofertas img {
    width: 40%;
}


/* CAMBIAR */

#cambiar {
    color: rgb(0, 0, 25);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#tituloCambiar {
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

#flexCambiar {
    display: flex;
    justify-content: space-between;
}

#textoCambiar {
    padding: 10px 0px 30px;
}

#botonCambiar {
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid rgb(0, 0, 25);
    border-radius: 30px;
}

#botonCambiar:hover {
    color: white;
    background-color: rgb(0, 0, 25);
    transition: 2s;
}

#caracteristicas {
    width: 40%;
}

.caracteristicas {
    display: flex;
    align-items: center;
    padding: 20px;
}

.caracteristicas i {
    padding: 0px 20px;
    font-size: 30px;
    color: rgb(0, 0, 25);
}


/* PASOS */

#pasos {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#pasos div {
    width: 25%;
    height: 60%;
    color: rgb(0, 0, 25);
    border: 5px solid rgb(0, 0, 25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.simbolosPasos {
    position: absolute;
    top: 15%;
    font-size: 50px;
}

#pasos a {
    position: absolute;
    top: 32.5%;
    font-size: 35px;
}

a h4::after {
    content: "";
    width: 0;
    height: 2px;
    background: rgb(0, 0, 25);
    margin: auto;
    display: block;
}

a h4:hover::after {
    width: 100%;
    transition: width 0.5s linear;
}

.textoPasos {
    position: absolute;
    top: 60%;
    padding: 0px 40px;
    font-size: 18px;
    text-align: center;
}


/* SEPARADOR */

#separador1 img {
    width: 100%;
    text-align: center;
}


/* AUTOS */

#autos {
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#autos a div {
    display: flex;
    justify-content: space-evenly;
}

.imagenes {
    padding: 100px 0px;
    width: 25%;
    height: 60%;
    filter: grayscale(100%);
}

.imagenes:hover {
    filter: grayscale(0%);
    transition: 1.5s;
}
