*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "TitilliumWeb-ExtraLight";
    src: url("../fonts/TitilliumWeb-ExtraLight.ttf");
}

body {
    font-family: "TitilliumWeb-ExtraLight";
    background-image: url("../images/Fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

Footer{
    padding-top: 40px;
}

.Footer {
    font-size: 20px;
    position: relative;
    left: 82%;
    color: white;
}





/* MENU */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.logo a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover{
    color: rgba(255, 1, 128, 0.452);
    transition: 1s;
}

.nav-links li{
    list-style: none;
}

.menu{
    display: none;
    cursor: pointer;
}

input{
    display: none;
}

.menu div{
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px;
    justify-content: center;
}




/* INICIO */
.Inicio{
    width: 88vh;
    height: 92vh;
    margin-left: 12%;
    padding-top: 5%;
}

h2{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 35px;
    width: 65%;
}

h3{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.Inicio div{
    padding-top: 15%;
}

.Inicio a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
    border: 2px solid;
    padding: 10px 20px;
    border-color: white;
    border-radius: 30px;
}

.Inicio a:hover{
    background-color: rgba(255, 1, 128, 0.452);
    transition: 1s;
}

.GridInicio {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    justify-items: center;
}

#Ofertas {
    width: 25vw;
    height: 35vh;
}
#Primer {
    width: 25vw;
    height: 32vh;
}
#Marcas {
    width: 25vw;
    height: 25vh;
    padding-top: 20px;
}
#Buscar {
    width: 25vw;
    height: 25vh;
    padding-top: 20px;
}
#Cotizar {
    width: 25vw;
    height: 35vh;
}
#Concesionaria {
    width: 25vw;
    height: 20vh;
    padding-top: 25px;
}




/* NUESTRAS OFERTAS */
.InicioOfertas{
    width: 88vh;
    height: 92vh;
    margin-left: 12%;
    padding-top: 5%;
}

h4{
    color: white;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    left: 12%;
    width: 90vh;
    text-decoration: none;
}

.SeccionOfertas{
    padding-top: 5%;
}

.OfertasOrg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.OfertasTabla {
    width: 60vw;
    color: white;
    border-color: white;
}

.Autos {
    width: 32vw;
    height: 45vh;
}




/* TU PRIMER 0KM */
.InicioPrimer{
    width: 88vh;
    height: 92vh;
    margin-left: 12%;
    padding-top: 5%;
}

.SeccionPrimer{
    padding-top: 5%;
}




/* CAMBIA TU AUTO */

.InicioCambiar{
    width: 88vh;
    height: 92vh;
    margin-left: 12%;
    padding-top: 5%;
}

.InicioCambiar div{
    padding-top: 15%;
}

fieldset {
    width: 20vw;
    color: white;
}

fieldset{
    transition: all 1s;
}
fieldset:hover{
    width: 80vw;
}




/* INGRESÁ A TU CUENTA */
.InicioIngresar{
    width: 88vh;
    height: 92vh;
    margin-left: 12%;
    padding-top: 5%;
}

.InicioIngresar div{
    padding-top: 15%;
}




/* ANIMACIONES */
nav{
    animation-name: Opacidad;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

h2 {
    animation-name: Opacidad;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

.Inicio div{
    animation-name: Opacidad;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

fieldset {
    animation-name: Opacidad;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes Opacidad{
    from {
        opacity: 0%;
    }
    to { 
        opacity: 100%;
    }
}




/* DESKTOP */
@media (min-width: 1024px){
    /* Menu */
    .logo{
        font-size: 22px;
    }
    .nav-links{
        width: 45%;
    }
}



/* TABLET */
@media (min-width: 481px) and (max-width: 1023px){
    /* Menu */
    .logo{
        font-size: 22px;
    }
    .nav-links{
        position: absolute;
        height: 92vh;
        top: 8vh;
        background-color:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
}



/* SMARTPHONE */
@media (max-width: 480px){
    /* Menu */
    .logo{
        font-size: 22px;
    }
    .nav-links{
        position: absolute;
        left: -100%;
        transition: all 0.5s;
        height: 92vh;
        top: 8vh;
        background-color:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
}